<launch>
    <node pkg="fritzrobot_serial" name="upstream" type="upstream"/>
    <node pkg="fritzrobot_serial" name="downstream" type="downstream"/>
    <node pkg="fritzrobot_serial" name="pose_estimation" type="pose_estimation"/>
    <node pkg="fritzrobot_control" name="odom_fuser" type="odom_fuser"/>
    <include file="$(find astra_camera)/launch/gemini.launch"></include>
    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" >
        <param name="scan_height" value="3"/> 
        <param name="range_min" value="0.15"/>
        <param name="output_frame_id" value="camera_link"/>
        <remap from="image" to="camera/depth/image_raw" />
    </node>

  <!-- 设置launch文件的参数 -->
    <arg name="map" default="cloister_gmapping.yaml" />
    <arg name="map_file" default="$(find fritzrobot_control)/src/nav/maps/$(arg map)" />
    <arg name="model" default="$(find xacro)/xacro '$(find fritzrobot_description)/xacro/mini_mec.xacro'"/>
  <!--机器人模型的起点放置位置xyz坐标-->
  <arg name="x_pos" default="1.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

  <param name="robot_description" command="$(arg model)" />
  <!--必须要添加关节状态发布节点-->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen"/>
  <!-- 必须添加机器人状态发布节点 -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
  <!-- 对于虚拟定位，需要设置一个/odom与/map之间的静态坐标变换 -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 100" />
  <include file="$(find fritzrobot_control)/launch/navigation.launch"></include>
</launch>
